@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
html,body{
	display: grid;
	overflow-x: hidden;
	justify-content: center;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: grey;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: black;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.5s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 75%;
}
#header .nav-list ul a {
	font-size: 2.0rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	padding-left: 10px;
	display: block;
}

#header .nav-list ul li:hover a {
	color: black;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-image: url(images/background.jfif);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.2;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: white;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */

/* Services Section */
#skill{
	display: grid;
	place-items: center;
}
.skill-header{
	margin-top: 150px;
	margin-bottom: 50px;
}
.skill-bars{
	padding: 25px 30px;
	width: 600px;
	background: #fff;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
	border-radius: 10px;
}
.skill-bars .bar{
	margin: 20px 0;
}
.skill-bars .bar:first-child{
	margin-top: 0px;
}
.skill-bars .bar .info{
	margin-bottom: 5px;
}
.skill-bars .bar .info span{
	font-weight: 500;
	font-size: 17px;
	opacity: 0;
	animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
	100%{
	  opacity: 1;
		}
}
.skill-bars .bar .progress-line{
	height: 10px;
	width: 100%;
	background: #f0f0f0;
	position: relative;
	transform: scaleX(0);
	transform-origin: left;
	border-radius: 10px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
				0 1px rgba(255,255,255,0.8);
	animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
	}
@keyframes animate {
	100%{
	transform: scaleX(1);
}
}
.bar .progress-line span{
	height: 100%;
	position: absolute;
	border-radius: 10px;
	transform: scaleX(0);
	transform-origin: left;
	background: #6665ee;
	animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
	width: 80%;
}
.bar .progress-line.css span{
	width: 70%;
}
.bar .progress-line.jquery span{
	width: 50%;
}
.bar .progress-line.python span{
	width: 80%;
}
.bar .progress-line.mysql span{
	width: 85%;
}
.progress-line span::before{
	position: absolute;
	content: "";
	top: -10px;
	right: 0;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-color: #000;
	opacity: 0;
	animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
	position: absolute;
	top: -28px;
	right: 0;
	font-weight: 500;
	background: #000;
	color: #fff;
	padding: 1px 8px;
	font-size: 12px;
	border-radius: 3px;
	opacity: 0;
	animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
	100%{
	opacity: 1;
}
}
.progress-line.html span::after{
	content: "80%";
}
.progress-line.css span::after{
	content: "70%";
}
.progress-line.jquery span::after{
	content: "50%";
}
.progress-line.python span::after{
	content: "80%";
}
.progress-line.mysql span::after{
	content: "85%";
}
.certification-header{
	margin-top: 100px;
	margin-bottom: 50px;
}
.wrapper{
	width: 800px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.wrapper .card{
	background: #fff;
	width: calc(33% - 20px);
	height: 300px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.wrapper .card .circle{
	position: relative;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	cursor: default;
}
.card .circle .box,
.card .circle .box span{
	position: absolute;
	top: 50%;
	left: 50%;
}
.card .circle .box{
	height: 100%;
	width: 100%;
	background: #fff;
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0.8);
	transition: all 0.2s;
}
.card .circle:hover .box{
	transform: translate(-50%, -50%) scale(0.91);
}
.circle .box span{
	font-size: 38px;
	font-family: sans-serif;
	font-weight: 600;
	transform: translate(-45%, -45%);
	transition: all 0.1s;
}
.card .circle:hover .box span{
	transform: translate(-45%, -45%) scale(1.09);
}
.card .text{
	font-size: 20px;
	font-weight: 600;
}
/* End Services Section */

/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-top: 50px;
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 50px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.2;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects section */

/* About Section */
#about .about-wrapper{
    height: 100vh;
}
#about .about-header{
	margin-top: 130px;
}
#about .about-left{
    background: #088F8F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 83vh;
	text-align: inherit;
	margin-top: 20px;
}
#about .about-left-content > div{
    background: #00FFFF;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}
#about .about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}
#about .about-img img{
    display: block;
    width: 200px;
}
#about .about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
#about .shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
#about .shadow::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}
#about .shadow:hover .about-img{
    transform: translateY(-10px);
}
#about .shadow:hover::after{
    opacity: 1;
}
#about .about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
}
#about .about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}
#about .icons{
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}
#about .icons li{
    list-style-type: none;
    background: #00FFFF;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
#about .icons li:hover{
    background: #edffec;
    color: #000;
}
#about .about-right{
    background: #fff;
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}
#about .about-right h1{
    font-size: 7rem;
    text-transform: uppercase;
}
#about .about-right h1 span{
    color: #088F8F;
}
#about .about-right h2{
    font-weight: 600;
}
#about .about-btns{
    display: flex;
    margin: 2rem 0;
}
#about .btn{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
}
#about .btn.btn-pink{
    background: #088F8F;
    color: #fff;
    border-color: #088F8F;
    transition: all 0.5s ease-in-out;
}
#about .btn.btn-pink:hover{
    background: #7393B3;
    border-color: #7393B3;
    color: #fff;
}
#about .btn.btn-white{
    transition: all 0.5s ease-in-out;
}
#about .btn.btn-white:hover{
    background: #7393B3;
    border-color: black;
    color: white;
}
#about .about-para p{
	font-size: 2.5rem;
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
}
/* End About Section */

/* contact Section */
#contact .container{
	flex-direction: column;
	background-image: url(images/background.jfif);
	background-size: cover;
	background-position: top center;
}
form{
    background: #088F8F;
    width: 640px;
    margin: 50px auto;
    max-width: 97%;
    border-radius: 4px;
    padding: 55px 30px;
}
form .title h2{
	color: white;
    letter-spacing: 6px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
}
form .half{
    display: flex;
    justify-content: space-between;
}
form .half .item{
	color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}
form label{
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
}
form .half .item input{
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
}
form .full{
	color: white;
    margin-bottom: 24px;
}
form .full textarea{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    font-size: 17px;
}
form .action{
    margin-bottom: 32px;
}
form .action input{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
}
form .action input[type="submit"]{
    background: white;
    color: black;
}
form .half .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover, form .icons a:hover{
    background: rgba(255,255,255,0.075);
}
/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */
@media only screen and (min-width: 100px) {
	/* Hero */
	#hero .container{
		margin-left: 100px;
	}
/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	/* Hero */
	#hero .container{
		margin-left: 100px;
	}
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
    #about .about-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #about .about-left{
        position: relative;
    }
    #about .about-left-content{
        position: absolute;
        right: -50px;
    }

	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */
}
/* SKILLS MOBILE */
@media(max-width: 753px){
	.wrapper{
	  max-width: 700px;
	}
	.wrapper .card{
	  width: calc(50% - 20px);
	  margin-bottom: 20px;
	}
  }
@media(max-width: 505px){
	.wrapper{
	max-width: 500px;
	}
	.wrapper .card{
	  width: 100%;
	}
}
@media(max-width: 753px){
	#about .about-right{
		position: relative;
		float: right;
	}
}
/* CONTACT US MOBILE*/
@media(max-width: 480px){
    form .half{
      flex-direction: column;
    }
    form .half .item{
      width: 100%;
    }
    form .action{
      display: flex;
      flex-direction: column;
    }
    form .action input{
      width: 100%;
    }
}}